{
  "editor.formatOnSave": true,
  "printWidth": 120,
  "tabWidth": 2,
  "overrides": [
    {
      "files": "*.sql",
      "options": {
        "editor.formatOnSave": false,
        "semi": true
      }
    },
    {
      "files": ["*.js"],
      "options": {
        "arrowParens": "avoid",
        "bracketSpacing": true,
        "htmlWhitespaceSensitivity": "css",
        "insertPragma": false,
        "jsxBracketSameLine": false,
        "jsxSingleQuote": true,
        "printWidth": 120,
        "proseWrap": "always",
        "quoteProps": "as-needed",
        "requirePragma": false,
        "trailingComma": "all",
        "useTabs": false,
        "tabWidth": 2,
        "singleQuote": true,
        "semi": true
      }
    }
  ]
}