{
  "editor.formatOnSave": true,
  "printWidth": 220,
  "tabWidth": 4,
  "overrides": [
    {
      "files": "*.test.js",
      "options": {
        "semi": true
      }
    },
    {
      "files": ["*.js"],
      "options": {
        "formatOnSave": true,
        "tabWidth": 4,
        "singleQuote": true,
        "semi": true
      }
    }
  ]
}